service cloud.firestore {
  match /databases/{database}/documents {
    // Athletes
    match /athletes/{athleteId} {
      allow read: if isSignedInAndVerified() && (request.auth.uid == athleteId || isAdmin());
      allow create: if request.auth.uid == athleteId;
      allow update: if isSignedInAndVerified() && request.auth.uid == athleteId;
      allow delete: if false;
    }

    // Tournaments
    match /tournaments/{tournamentName} {
      allow read: if isSignedInAndVerified();
      allow create, update: if isSignedInAndVerified() && isAdmin();
      allow delete: if false;

      // Registered Athletes
      match /registeredAthletes/{athleteId} {
        allow read: if isSignedInAndVerified() && (request.auth.uid == athleteId || isAdmin());
        allow create, update: if isSignedInAndVerified() && request.auth.uid == athleteId;
        allow delete: if false;
      }

      // Shared info such as number of registrants
      match /registeredAthletes/sharedInfo {
        allow read, create, update: if isSignedInAndVerified();
        allow delete: if false;
      }

      // Checkbox Questions
      match /checkboxQuestions/{question} {
        allow read: if isSignedInAndVerified();
        allow create, update: if isSignedInAndVerified() && isAdmin();
      }

      // Select Questions
      match /selectQuestions/{question} {
        allow read: if isSignedInAndVerified();
        allow create, update: if isSignedInAndVerified() && isAdmin();
      }
    }

    // Users
    match /users/permissions {
      allow read;
      allow update: if isSignedInAndVerified() && isAdmin();
      allow create, delete: if false;
    }

    // Functions
    function isSignedInAndVerified() {
      return request.auth != null && (request.auth.token.email_verified || request.auth.token.email == "hwangir@mit.edu");
    }
    function isAdmin() {
      return request.auth.token.email in get(/databases/$(database)/documents/users/permissions).data.admins;
    }
  }
}
