html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}
body {
    background: #ECEFF1;
    color: rgba(0,0,0,0.87);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* Material Design Lite elements */
.mdl-layout__header-row {
    padding: 0;
    margin: 0 auto;
}
.mdl-layout__header-row span {
    margin-left: 15px;
    margin-top: 17px;
}
.mdl-grid {
    max-width: 1024px;
    margin: auto;
}
.mdl-layout__tab {
    padding:0 12px;
    color: rgba(255,255,255,.6);
}
.mdl-layout__tab.isOnPage {
    color: rgba(255,255,255,1);
    background-color: rgba(62, 194, 255, 0.5);
}
.mdl-layout__tab-bar {
    width: 100%;
    padding: 0 0 0 60px
}
/* There's something weird with the MDL css */
.mdl-layout__tab-bar-button {
    visibility: hidden;
}
.mdl-button:hover {
    background-color: rgba(62, 194, 255, 0.5);
}

/* User email display and sign out button */
#userContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 22px;
    width: 100%;
    right: 0;
    padding-left: 10px;
    justify-content: flex-end;
    padding-right: 10px;
}
#userEmail {
    font-size: 16px;
    line-height: 36px;
    padding-right: 10px;
    padding-left: 20px;
    position: absolute;
    right: 150px;
}
#signOut {
    position: absolute;
    right: 30px;
}

/* Form elements */
.inputForm {
    background: white;
    max-width: 330px;
    margin: 100px auto 16px;
    padding: 32px 24px;
    border-radius: 3px;
    margin-top: 20px;
}
.inputForm h2 {
    color: #ffa100;
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 3px;
    margin-top: -20px;
}
.inputForm h1 {
    font-size: 22px;
    font-weight: 300;
    color: rgba(0,0,0,0.6);
    margin: 0 0 16px;
}
.inputForm p {
    line-height: 140%;
    margin: 16px 0 24px;
    font-size: 14px;
}
.inputForm, .inputForm a.button {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.inputForm a.button {
    text-align: center; 
    background: #039be5;
    text-transform: uppercase;
    color: white;
    padding: 16px;
    border-radius: 4px;
}
.inputForm a.button, .inputText {
    display: block;
    text-decoration: none;
    padding: 16px;
    border-radius: 4px;
}
.inputText {
    width: 296px;
    height: 18px;
    border-bottom:1px solid #ccc;
    border:1px solid #ccc!important;
    margin-bottom: 10px;
}
input {
    font-size: 16px;
}
.inputLabel {
    text-transform: uppercase;
    color: rgba(0,0,0,0.6);
}
.requiredField::after {
    content: '*';
    color: red;
    margin-left: 2px;
}
.formInput {
    margin-bottom: 10px;
}
textarea {
    width: 324px;
    height: 100px;
    font-size: 12px;
}

/* Buttons */
.button:hover {
    cursor: pointer;
}

/* Copyright note */
#copyright {
    color: rgba(0,0,0,0.4);
    text-align: center;
    font-size: 13px;
}

/* When the screen size is limited */
@media screen and (max-width: 610px) {
    header {
        height: 113px;
        padding-bottom: 80px !important;
    }
    .mdl-layout__tab-bar {
        visibility: hidden;
    }
    #userContainer {
        top: 72px;
        background-color: rgb(3,155,229);
        height: 38px;
        padding-top: 3px;
        padding-right: 2px;
    }
}